<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../layout/pack-layout/pack-layout.html">

<!-- style module -->
<link rel="import" href="styles/pack-about-page-styles.html">

<dom-module id="pack-about-page">
  <template>
    <style include="pack-about-page-styles"></style>
    <pack-layout>
      <div title>About</div>

      <div main>
        <ul>
          <li><a is="pushstate-anchor" href="/">Home</a></li>
        </ul>
      </div>
    </pack-layout>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-about-page'
      });
    })();
  </script>
</dom-module>
