<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../vendor/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../vendor/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../layout/pack-layout/pack-layout.html">

<!-- style module -->
<link rel="import" href="styles/pack-about-page-styles.html">

<dom-module id="pack-about-page">
  <template>
    <style include="pack-about-page-styles"></style>
    <pack-layout>
      <div title>About</div>

      <div main>

        <p>Below you can see an example of lazy-loading page fragments.</p>

        <paper-tabs class="tabs" selected="[[subPage]]" attr-for-selected="tab-name">
          <paper-tab tab-name="project">
            <a is="pushstate-anchor" href="/about/project/" class="tab-link">Project</a>
          </paper-tab>
          <paper-tab tab-name="author">
            <a is="pushstate-anchor" href="/about/author/" class="tab-link">Author</a>
          </paper-tab>
        </paper-tabs>

        <iron-lazy-pages selected="[[subPage]]" attr-for-selected="sub-page">
            <template
              is="iron-lazy-page"
              sub-page="project"
              path="/components/pages/pack-about-project-sub-page/pack-about-project-sub-page.html"
            >
              <pack-about-project-sub-page></pack-about-project-sub-page>
            </template>
            <template
              is="iron-lazy-page"
              sub-page="author"
              path="/components/pages/pack-about-author-sub-page/pack-about-author-sub-page.html"
            >
              <pack-about-author-sub-page></pack-about-author-sub-page>
            </template>
        </iron-lazy-pages>

      </div>
    </pack-layout>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-about-page',
        properties: {
          subPage: String
        }
      });
    })();
  </script>
</dom-module>
