<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../layout/pack-layout/pack-layout.html">

<dom-module id="pack-about-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      :host h1 {
        @apply(--font-light);
      }
    </style>

    <pack-layout>
      <div container>
        <h1>About</h1>
        <ul>
          <li><a is="pushstate-anchor" href="/">Home</a></li>
        </ul>
      </div>
    </pack-layout>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-about-page'
      });
    })();
  </script>
</dom-module>
