{
  "extends": "google",
  "plugins": [ "html" ],
  "rules":  {
    new-cap: ["error", {"capIsNewExceptions": ["Polymer"]}]
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "Polymer": true,
    "expect": true,
    "fixture": true,
    "flush": true
  }
}
