<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../layout/pb-layout/pb-layout.html">

<dom-module id="pb-about-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <pb-layout>
      <div container>
        <h1>About</h1>
        <ul>
          <li><a is="pushstate-anchor" href="/">Home</a></li>
        </ul>
      </div>
    </pb-layout>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pb-about-page'
      });
    })();
  </script>
</dom-module>
