<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../vendor/app-router/app-router.html">
<link rel="import" href="../../../vendor/pushstate-anchor/pushstate-anchor.html">

<!-- style module -->
<link rel="import" href="styles/pack-router-styles.html">

<dom-module id="pack-router">
  <template>
    <style include="pack-router-styles"></style>

    <app-router id="router" mode="pushstate" init="manual">

      <!-- insertion point for mock routes -->
      <content select="app-route"></content>

      <app-route
        path="/"
        import="components/pages/pack-home-page/pack-home-page.html"
        element="pack-home-page"
      ></app-route>

      <app-route
        path="/about/"
        redirect="/about/project/"
      ></app-route>

      <app-route
        path="/about/project/"
        import="components/pages/pack-about-page/pack-about-page.html"
        element="pack-about-page"
        data-sub-page="project"
      ></app-route>

      <app-route
        path="/about/author/"
        import="components/pages/pack-about-page/pack-about-page.html"
        element="pack-about-page"
        data-sub-page="author"
      ></app-route>

      <app-route
        path="*"
        import="components/pages/pack-404-page/pack-404-page.html"
        element="pack-404-page"
      ></app-route>

    </app-router>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-router',
        listeners: {
          'router.activate-route-end': '_onRouteChanged',
          'router.before-data-binding': '_onBeforeDataBinding'
        },
        properties: {
          routeData: {
            type: Object,
            value: function() {
              return {};
            }
          }
        },
        start: function() {
          this.$.router.init();
        },
        _onBeforeDataBinding: function(e) {
          var route = e.detail.route;
          if (route.dataset.subPage) {
            console.log(e.detail);
            e.detail.model.subPage = route.dataset.subPage;
          }
        },
        _onRouteChanged: function(e) {
          this.mixin(this.routeData, e.detail);
          this.fire('pack-route-changed', {
            data: this.routeData
          });
        }
      });
    })();
  </script>
</dom-module>
