<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../core/pack-router/pack-router.html">

<dom-module id="pack-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <pack-router id="router"></pack-router>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-app',
        attached: function () {
          // authorization can be performed here, before starting router
          this.$.router.start();
        }
      });
    })();
  </script>
</dom-module>
