<link rel="import" href="../../../vendor/polymer/polymer.html">

<!-- style module -->
<link rel="import" href="styles/pack-about-project-sub-page-styles.html">

<dom-module id="pack-about-project-sub-page">
  <template>
    <style include="pack-about-project-sub-page-styles"></style>

    <div>
      <p>P. A. C. K. is not just a boilerplate.</p>
      <p>It is inspired by real experience and lots of hours spent.</p>
      <p>I hope this could save your time in the future, and mine too :)</p>
    </div>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-about-project-sub-page'
      });
    })();
  </script>
</dom-module>
