<dom-module id="pack-layout-styles">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      :host h1 {
        @apply(--font-light);
      }

      :host .header {
        background: var(--blue);
      }

      :host .title {
        color: var(--white);
        @apply(--font-light);
      }

      :host .dropdown {
        margin-right: 16px;
      }

      :host .container {
        padding: 16px;
      }
    </style>
  </template>
</dom-module>
