<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../vendor/app-layout/app-layout.html">

<dom-module id="pack-layout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <app-header-layout>
      <app-header>
        <app-toolbar>
          <div title>Polymer Boilerplate</div>
        </app-toolbar>
      </app-header>
      <div>
        <content select="[container]"></content>
      </div>
    </app-header-layout>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-layout'
      });
    })();
  </script>
</dom-module>
