<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../vendor/app-layout/app-layout.html">

<!-- style module -->
<link rel="import" href="styles/pack-layout-styles.html">

<dom-module id="pack-layout">
  <template>
    <style include="pack-layout-styles"></style>

    <app-header-layout>
      <app-header>
        <app-toolbar>
          <div title>Polymer App Creation Kit</div>
        </app-toolbar>
      </app-header>
      <div>
        <h1>
          <content select="[title]"></content>
        </h1>
        <content select="[main]"></content>
      </div>
    </app-header-layout>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-layout'
      });
    })();
  </script>
</dom-module>
