<link rel="import" href="../../../vendor/polymer/polymer.html">

<!-- style module -->
<link rel="import" href="styles/pack-about-author-sub-page-styles.html">

<dom-module id="pack-about-author-sub-page">
  <template>
    <style include="pack-about-author-sub-page-styles"></style>

    <div>
      <p>I’m a front-end developer at <a href="https://owox.com">OWOX</a> living in Dnipro, Ukraine.</p>
    </div>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-about-author-sub-page'
      });
    })();
  </script>
</dom-module>
