<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../vendor/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../vendor/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../vendor/paper-menu/paper-menu.html">
<link rel="import" href="../../../vendor/paper-item/paper-item.html">
<link rel="import" href="../../../vendor/brainy-anchor/brainy-anchor.html">

<!-- icons -->
<link rel="import" href="../../shared/pack-icons/pack-icons.html">

<!-- style module -->
<link rel="import" href="styles/pack-menu-styles.html">

<dom-module id="pack-menu">
  <template>
    <style include="pack-menu-styles"></style>

    <paper-menu-button>
      <paper-icon-button icon="pack-icons:menu" class="dropdown-trigger"></paper-icon-button>
      <paper-menu class="dropdown-content">
        <paper-item>
          <a is="brainy-anchor" class="menu-link" href="/">Home</a>
        </paper-item>
        <paper-item>
          <a is="brainy-anchor" class="menu-link" href="/about/">About</a>
        </paper-item>
      </paper-menu>
    </paper-menu-button>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pack-menu'
      });
    })();
  </script>
</dom-module>
