<link rel="import" href="../../../vendor/polymer/polymer.html">
<link rel="import" href="../../../vendor/app-router/app-router.html">
<link rel="import" href="../../../vendor/pushstate-anchor/pushstate-anchor.html">

<dom-module id="pb-router">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-router id="router" mode="pushstate" init="manual">

      <!-- insertion point for mock routes -->
      <content select="app-route"></content>

      <app-route
        path="/"
        import="components/pages/pb-home-page/pb-home-page.html"
        element="pb-home-page"
        >
      </app-route>

      <app-route
        path="/about/"
        import="components/pages/pb-about-page/pb-about-page.html"
        element="pb-about-page"
        >
      </app-route>

      <app-route
        path="*"
        import="components/pages/pb-404-page/pb-404-page.html"
        element="pb-404-page"
        >
      </app-route>

    </app-router>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pb-router',
        listeners: {
          'router.activate-route-end': '_onRouteChanged'
        },
        properties: {
          auto: {
            type: Boolean,
            value: false
          },
          routeData: {
            type: Object,
            value: function() {
              return {};
            }
          }
        },
        start: function() {
          this.$.router.init();
        },
        attached: function() {
          if (this.auto) {
            this.start();
          }
        },
        _onRouteChanged: function(e) {
          this.mixin(this.routeData, e.detail);
          this.fire('pb-route-changed', {
            data: this.routeData
          });
        }
      });
    })();
  </script>
</dom-module>
